.toolbar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 5px 0;
  width: 100vw;
  top: 1em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slider {
  width: 150px !important;
}
